.thank__you span i {
    font-size: 10rem;
    color: blue;
}

.thank__you h1 {
    font-size: 3.6rem;
    font-family: var(--subtitle-font-name);
    color: blue;
}

.thank__you h3 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    color: blue;
}

@keyframes moveIcon {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .moving__icon {
    display: inline-block;
    animation: moveIcon 1.5s infinite;
  }
  